h1{
    color: black;
    text-align: left;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    padding-top: 20px;
}

h2{
    color: black;
}


body{
    padding: 70px;
    width: 90%;
    margin: auto;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}


#logo {
    width: 109px;
    height: 132px;
    float: right;
    margin-left: -200px;
}


.nav{
    background-size: 50px 30px;
    background-color: rgb(160, 69, 69);
    background-repeat: no-repeat;
    text-align: center;
}

#navnav{
    position: absolute;
    margin: 20px;
    width: auto;
    border: solid #ddd 2px;

}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


#bg{
    background-color: wheat;
    background-repeat: no-repeat;
    border: solid brown 3px;    
}