h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
h2{
    color: black;
}

body{
    padding: 70px;
    width: 90%;
    margin-left: auto;
    background-color: beige;
}


.carousel-item , .carousel-item :active{
    height: 500px;
    object-fit: cover;

}

header{
    text-align: center;
    background-color: white;
    width: 65%;
    border: solid black 2px;
}

.logo {
    width: 25px;
    height: 40px;
    text-align: left;
}