h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
h2{
    color: black;
}

body{
    padding: 70px;
    width: 90%;
    margin: auto;
    background-image: url(img/Lover_erdo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.carousel-item , .carousel-item :active{
    height: 500px;
    object-fit: cover;
    align-items: left;
}

header{
    text-align: center;
    background-color: white;
    width: 65%;
    border: solid black 2px;
    padding: 70px;
    margin: auto;
}

.logo {
    width: 45px;
    height: 60px;
    object-fit: cover;
    
}


ul{
    background-size: 50px 30px;
    background-color: brown;
    background-repeat: no-repeat;
    text-align: center;
}

#bg{
    background-color: beige;
    background-repeat: no-repeat;
}