h1{
    color: rebeccapurple;
text-align: center;
}
h2{
    color: rgb(0, 0, 0);
}

body{
    padding: 70px;
    width: 90%;
    margin-left: auto;
    background-color: beige;
}

.negyven-tonna-kazahsztani-hangya{
    background-color: brown;
}

.carousel-item , .carousel-item :active{
    height: 500px;
    object-fit: cover;

}
